html, ul {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #131B26;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.pageHeader {
    height: 65px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    width: 100%;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(8px);
}

.pageHeader .topLeft {
    display: block;
    float: left;
}

.pageHeader .topRight {
    float: right;
    height: 65px;
}

.pageHeader .logo {
    height: 40px;
    margin-top: 13px;
    margin-left: 15px;
}

.pageHeader .topRight .langBox {
    float: left;
    width: 125px;
    margin-top: 10px;
    height: 43px;
    line-height: 40px;
    text-align: center;
}

.pageHeader .topRight .langBox:hover img {
    transform: rotateY(180deg);
}

.pageHeader .topRight .langBox .currentLangBox {
    color: #ffffff;
    cursor: pointer;
    background: #2C323D;
    border-radius: 30px;
}

.pageHeader .topRight .langBox .currentLang {
    /*position: relative;*/
    /*top: -2px;*/
}

.pageHeader .topRight .langBox .langSelect {
    padding: 10px 0;
    background: #2C323D;
    border-radius: 0 0 20px 20px;
    display: none;
}

.pageHeader .topRight .langBox .langLi {
    color: #ffffff;
    display: block;
    background: #2C323D;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.pageHeader .topRight .langBox .langLiBottom {
    border-radius: 0 0 15px 15px;
}

.pageHeader .topRight .langBox .langLi span {
    display: block;
    float: left;
    margin-left: 20px;
}

.pageHeader .topRight .langBox .langUpDown {
    color: #ffffff;
    cursor: pointer;
    width: 15px;
    height: 15px;
    /*margin: 13px 0 0 0px;*/
}

.pageHeader .topRight .langBox .langUpDown:hover {
    transform: rotateY(180deg);
}

.pageHeader .topRight .connectWallet {
    float: left;
    min-width: 160px;
    color: #ffffff;
    cursor: pointer;
    /*border-radius: 30px;*/
    /*background: #2C323D;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 10px 0 15px;
    padding: 0 15px;
}

.pageHeader .topRight .connectMetamask {
    line-height: 40px;
    height: 40px;
    border-radius: 30px;
    background: #2C323D;
}

.pageHeader .topRight .connectMetamask .connect {

}
.pageHeader .topRight .connectMetamask .connectIcon {
    width: 15px;
    height: 15px;
    /*margin-top: 13px;*/
}

.pageHeader .topRight .connectWallet .connectedMetamask {
    display: none;
    width: 140px;
}

.pageHeader .topRight .connectWallet .chainIcon {
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px 10px 10px 15px;
    float: left;
}

.pageHeader .topRight .connectWallet .walletInfo {
    height: 41px;
    border-radius: 30px;
    background: #2C323D;
}

.pageHeader .topRight .connectWallet .userAddress {
    float: right;
    margin-right: 15px;
}

.pageHeader .topRight .connectWallet .disconnect {
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    background: #2B2D36;
    border-radius: 30px;
    display: none;
}

.pageHeader .topRight .connectWallet .disconnect .icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.content {
    width: 100%;
    height: 600px;
    position: relative;
    top: 65px;
}

.content .leftTop {
    position: absolute;
    width: 130px;
    height: 140px;
    left: 150px;
    top: 130px;
}

.content .leftBottom {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 150px;
    top: 400px;
}

.content .rightTop {
    position: absolute;
    width: 130px;
    height: 140px;
    right: 150px;
    top: 80px;
}

.content .rightMiddle {
    position: absolute;
    width: 70px;
    height: 80px;
    right: 350px;
    top: 200px;
}

.content .rightBottom {
    position: absolute;
    width: 70px;
    height: 80px;
    right: 200px;
    top: 400px;
}

.content .dialogBox {
    margin: 0 auto;
    width: 560px;
    background: #141414;
    position: relative;
    top: 40px;
    border-radius: 10px;
    padding: 20px;
}

.content .dialogBox .top {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.content .dialogBox .top .buyTitle {
    float: left;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

.content .dialogBox .top .buyRule {
    float: right;
    color: #fff;
    background: #363646;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    padding: 2px 15px;
    cursor: pointer;
    font-weight: 300;
}

.content .dialogBox .top .buyRule .iconRule {
    width: 17px;
    height: 17px;
    position: relative;
    top: 2px;
}

.content .dialogBox .buyBox {
    background: #1c1d1d;
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin: 15px 0;
    z-index: 2;
}

.content .dialogBox .buyBox {
    background: #1c1d1d;
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin: 15px 0;
    z-index: 2;
}

.content .dialogBox .buyBox .buyTop {
    font-weight: 200;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: rgba(255, 255, 255, .6);
    padding: 15px 15px 5px 15px;
}

.content .dialogBox .buyBox .buyTop .buyTopLeft {
    float: left;
}

.content .dialogBox .buyBox .buyTop .buyTopRight {
    float: right;
    margin-left: 10px;
}

.content .dialogBox .buyBox .buyContent {
    height: 50px;
    line-height: 50px;
    padding: 5px 15px;
    margin-bottom: 5px;
    position: relative;
}

.content .dialogBox .buyBox .buyNum {
    height: 30px;
    width: 365px;
    float: left;
    display: block;
    background: #1c1d1d;
    outline: none;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    outline: none;
    border: none;
}

.content .dialogBox .buyBox .all {
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    width: 30px;
    color: #0084ff;
    float: left;
    padding: 0 10px;
}

.content .dialogBox .buyBox .line {
    width: 1px;
    height: 30px;
    background-color: rgba(255, 255, 255, .2);
    float: left;
    line-height: 30px;
    margin: 10px 0;
}

.content .dialogBox .buyBox .selectToken {
    width: 95px;
    height: 50px;
    float: right;
    cursor: pointer;
}

.content .dialogBox .buyBox .selectToken .tokenLogo {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 15px;
}

.content .dialogBox .buyBox .selectToken .tokenName {
    width: 50px;
    height: 50px;
    float: left;
    color: #fff;
    text-align: center;
    margin: 0 5px;
}

.content .dialogBox .buyBox .selectToken .downIcon {
    width: 15px;
    height: 15px;
    float: left;
    padding: 5px 0;
    margin-top: 12px;
}

.content .dialogBox .buyContent .tokenList {
    width: 190px;
    padding: 15px 0;
    position: absolute;
    right: 0px;
    top: 50px;
    border-radius: 10px;
    background: #191920;
    display: none;
}

.content .dialogBox .buyContent .tokenList .tokenItem {
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    cursor: pointer;
    margin: 2px 0;
    padding: 0 10px;
    font-size: 10px;
}

.content .dialogBox .buyContent .tokenList .tokenItem.active {
    background: #23232D;
}

.content .dialogBox .buyContent .tokenList .tokenItem .tokenImg {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin: 10px 10px 0 0;
}

.content .dialogBox .exchangeBox {
    height: 55px;
    margin-top: 45px;
}

.content .dialogBox .exchangeBox .exchangeButton {
    display: block;
    height: 55px;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

.content .dialogBox .desc {
    margin-top: 20px;
    font-weight: 200;
    font-size: 14px;
    padding: 10px 0px;
    line-height: 26px;
    color: #ffffff;
}

.footer{
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-top: 0.01rem solid #26242c;
    justify-content: center;
    padding-top: 5px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    backdrop-filter: blur(8px);
    text-align: center;
}
.footer .footerText{
    color: #757185;
    font-size: 14px;
}
